<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="logProvider" type="Simon.Provider.Library.LogProviderConfiguration, Simon.Provider.Library" />
  </configSections>

  <logProvider defaultProvider="LogToFile">
    <providers>
      <add name="LogToFile" description="this is a log to file provider." type="Simon.Provider.Library.LogToFileProvider, Simon.Provider.Library" />
      <add name="LogToSql" description="this is a log to sql provider." type="Simon.Provider.Library.LogToSqlProvider, Simon.Provider.Library" />
    </providers>
  </logProvider>
</configuration>
